.button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-top: 1px solid var(--sidebar-border);
  border-bottom: 1px solid var(--sidebar-border);
  background-color: transparent;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 1440px) {
  .button {
    cursor: pointer;
  }
}

.buttonTitle {
  width: 76px;
  font-weight: 500;
  font-size: 14px;
  text-align: start;
  color: var(--primary-sidebar-text-color);
}

.buttonPlus {
  display: flex;
  width: 40px;
  height: 36px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  background-color: var(--create-button);
}

.iconPlus {
  stroke: var(--plus-fill);
  fill: none;
  border: none;
}
