.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 14px;
  margin-bottom: 37px;
  gap: 4px;
}

.bgItem:hover {
  transform: scale(1.2);
}

.image {
  width: 28px;
  height: 28px;
}

.imageSelected {
  transform: scale(1.2);
}
