.container {
  width: 100%;
  max-width: 375px;
  height: 80px;
  padding-top: 292px;
  padding-bottom: 380px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--board-secondary);
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  margin-top: 60px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    width: 486px;
  }

  .mainContainer {
    width: 100%;
    width: 486px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding-top: 281px;
  }

  .mainContainer {
    padding-top: 281px;
  }
}

.button_create {
  color: var(--board-accent);
  background-color: transparent;
  border: none;

  transition: color 0.25s ease-in-out;
}

.button_create:hover,
.button_create:focus {
  color: var(--main-hover);
}
