.container {
  width: 100%;
  padding: 14px;
  margin-bottom: 24px;
  background-color: var(--need-help-background);
  border-radius: 8px;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 20px;
  }
}

.image {
  width: 54px;
  height: 78px;
  margin-bottom: 14px;
  background-image: url('../../../../src/assets/img/imageNeedHelp.svg');
  background-size: contain;
}

.infoText {
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: var(--primary-sidebar-text-color);
}

.perfectTask {
  color: var(--need-help-span);
}

.question {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: var(--primary-sidebar-text-color);
}

.needHelpLink {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 8px;

  color: var(--primary-sidebar-text-color);
}

.iconHelp {
  fill: none;
  stroke: var(--primary-sidebar-text-color);
}
