.title {
    color: var(--primary-color-black);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 14px;
}

.filterContainer {
    border-top: 1px solid #161616;
    padding-top: 14px;
}

.listTitle {
    color: var(--primary-color-black);
    font-size: 14px;
    margin-bottom: 14px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.02em;

}

.filterList {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn {
    height: 18px;
    cursor: pointer;
    color: #161616;
    font-size: 12px;
}

.btn:hover {}

.filterListItem {
    color: #161616;
    font-size: 12px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    gap: 10px;
}

.filterListItem:hover {}

.filterListItem:not(:last-child) {}

.inputBtn {
    position: relative;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.visuallyHidden:checked+.filterListItem .inputBtn::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border-radius: 50%;

}

.visuallyHidden:checked+.filterListItem {
    color: #161616;
}

.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    border: 0;
    padding: 0;
    white-space: nowrap;
}