.input {
  height: 49px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 1px solid var(--primary-color-light-green);
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px #16161614;
  color: var(--primary-color-black);
}
