.background {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;

  height: 100vh;

  background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 25%,
    #bedbb0 92.19%
  );
}

.mainBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 14px;

  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .logoBox {
    row-gap: 24px;
  }
}

.logoAvatar {
  display: block;
  margin-bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .logoAvatar {
    width: 162px;
    height: 162px;
    margin-bottom: 24px;
  }
}

.logoIconBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;

  margin-bottom: 24px;
}

.logoIcon {
  border-radius: 8px;
}

@media only screen and (min-width: 768px) {
  .logoIcon {
    width: 48px;
    height: 48px;
  }
}

.header {
  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.04em;
}

@media only screen and (min-width: 768px) {
  .header {
    font-size: 40px;
  }
}

.paragraph {
  max-width: 334px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;

  margin-bottom: 48px;
}

@media only screen and (min-width: 768px) {
  .paragraph {
    max-width: 473px;
  }
}

.buttonLink {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .buttonLink {
    width: 344px;
  }
}

.registrationBtn {
  width: 100%;
  height: 49px;

  margin-bottom: 14px;

  border-radius: 8px;
  border: 0;
  background-color: var(--primary-color-black);

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--primary-color-white);

  transition:
    background-color 0.25s ease-in-out,
    color 0.25s ease-in-out,
    border 0.25s ease-in-out;
}

.registrationBtn:hover,
.registrationBtn:focus {
  background-color: transparent;
  color: var(--primary-color-black);
  border: 1px solid var(--primary-color-black);
  outline: none;
}

@media only screen and (min-width: 768px) {
  .registrationBtn {
    width: 344px;
  }
}

.authBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}

.loginBtn {
  border-radius: 8px;
  border: 0;
  background: transparent;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;

  transition: color 0.25s ease-in-out;
}

.loginBtn:hover,
.loginBtn:focus {
  color: var(--primary-color-white);
}

.googleBtn {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  height: 28px;
  width: 28px;
  padding: 4px;
  background: linear-gradient(-120deg, #4285f4, #34a853, #fbbc05, #ea4335);
}

.googleBtn:hover,
.googleBtn:focus {
  .googleIcon {
    fill: var(--primary-color-black);
  }
}

.googleIcon {
  fill: var(--primary-color-white);

  transition: fill 0.25s ease-in-out;
}
