.iconSet {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.icon {
  stroke: var(--modal-main);
  stroke-opacity: 0.5;
  stroke-width: 2;

  fill: none;
  transform: scale(1);

  transition:
    transform 0.25s ease-in-out,
    stroke-opacity 0.25s ease-in-out;
}

.icon:hover,
.icon:focus {
  transform: scale(1.3);
  stroke-opacity: 1;
}

.iconSelected {
  transform: scale(1.3);
  stroke-opacity: 1;
  stroke: var(--modal-main);
  fill: none;
}
