.divCard {
    width: 100%;
    height: auto display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 8px;
    background-color: transparent;
    ;
}

.textNew {
    color: var(--primary-color-white);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    margin-bottom: 24px;

}

.titleInput {
    display: flex;
    width: 287px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--primary-color-white);
    background-color: transparent;
    color: var(--primary-color-white);
    background: none;
    padding: 14px 0px 14px 18px;
    box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.08);
    margin-bottom: 24px;
}

.titleInput:hover {
    opacity: 1;
    border: 1px solid var(--primary-color-white);
}

.titleInput:focus {
    opacity: 1;
    outline: 1px solid var(--primary-color-white);
}

.textIcons {
    color: var(--primary-color-white);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
    margin-bottom: 14px;
}

.listIcons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    margin-bottom: 24px;
}

.listColorIcons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    width: 256px;
    margin-bottom: 40px;
}

.listItem {
    width: 28px;
    height: 28px;
    box-sizing: border-box;
    background-color: aqua;
    border: 1px solid #000;
    border-radius: 6px;
    margin: 2px;
}

.listItemActive {
    width: 28px;
    height: 28px;
    box-sizing: border-box;
    border: 3px solid #bedbb0;
    border-radius: 6px;
    margin: 2px;
}

.serIcons {
    width: 18px;
    height: 18px;
    margin: 4px;
    fill: var(--primary-color-white);

}

.Icons {
    width: 18px;
    height: 18px;
    margin: 4px;
    fill: var(--primary-color-white);
    stroke: var(--primary-color-white);
}

.textBackground {
    color: var(--primary-color-white);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
    margin-bottom: 14px;
}

.mainButton {
    display: flex;
    width: 287px;
    padding: 10px 0px 11px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #bedbb0;
    color: #161616;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
}

.listIcons li {
    position: relative;
    width: 26px;
    height: 26px;
}

.plusIcon {
    stroke: aliceblue;
    width: 14px;
    height: 14px;
}

.img_min1x {
    border-radius: 5px;
}



.inputLi {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
}

.inputBack {
    position: absolute;
    cursor: pointer;
    width: 26px;
    height: 26px;
    z-index: 999;
    opacity: 0;
}