.addColumnButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color-white);
  border-radius: 8px;

  height: 56px;
  width: 335px;

  margin-left: auto;
  margin-right: auto;
  flex: 0 0 335px;
}

@media only screen and (min-width: 768px) {
  .addColumnButton {
    width: 334px;
  }
}

@media only screen and (min-width: 1440px) {
  .addColumnButton {
    width: 1440px;
  }
}

.icon {
  background-color: var(--primary-color-black);
}

.title {
  color: var(--primary-color-black);
}
