.headerDashboardSection {
    display: flex;
    justify-content: space-between;
}

.titleDashboard {
    font-weight: 500;
    font-size: 14px;
    color: var(--primary-color-black:);
    padding-top: 14px;
    padding-bottom: 40px;
}