.buttonBox {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  box-sizing: border-box;
  min-height: 61px;
  justify-content: space-between;
  align-items: center;
}

.buttonBox:active,
.buttonBox:hover,
.buttonBox:focus {
  width: 100%;
  color: black;
  background-color: var(--sidebar-board-button-hover);
  border-right: 4px solid var(--logout-stroke);
  border-radius: 4px;
}

.mainButton {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  display: flex;
  gap: 8px;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;

  color: var(--secondary-sidebar-text-color);

  transition: color 0.25s ease-in-out;
}

.mainButton:hover::after,
.mainButton:focus::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.mainButton:active,
.mainButton:hover,
.mainButton:focus {
  color: var(--primary-sidebar-text-color);
}

.icon {
  stroke: var(--primary-sidebar-text-color);
  stroke-opacity: 0.5;
  stroke-width: 2;

  fill: none;

  transition:
    stroke 0.25s ease-in-out,
    stroke-opacity 0.25s ease-in-out;
}

/* .icon:hover,
.icon:focus {
  stroke: var(--primary-sidebar-text-color);
  stroke-opacity: 1;
}

.mainButton:hover .icon,
.mainButton:focus .icon {
  stroke: var(--primary-sidebar-text-color);
  stroke-opacity: 1;
} */

.helperButton {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 8px;
}
