.headerDashboardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .headerDashboardContainer {
    margin-bottom: 26px;
  }
}

@media only screen and (min-width: 1440px) {
  .headerDashboardContainer {
    margin-bottom: 10px;
  }
}

.boardTitle {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #161616;
}

@media only screen and (min-width: 768px) {
  .boardTitle {
    font-size: 18px;
  }
}

.boardTitlePlaceholder {
  width: 0;
  visibility: hidden;
}

.filterTitle {
  display: flex;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(22, 22, 22, 0.8);
}

.filterIcon {
  fill: none;
  stroke: #161616;
  stroke-opacity: 0.8;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}
