.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* DARK THEME */
.modalPageBox {
  display: flex;
  flex-direction: column;
  background-color: var(--color-black-background);
  color: var(--primary-color-white);
  padding: 24px;
  position: relative;
  border-radius: 8px;
  width: 335px;
  border: 1px solid rgba(190, 219, 176, 0.5);
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.05);
}
.close {
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
  font-size: 18px;
  color: var(--primary-color-white);
}

.editProfileTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: var(--primary-color-white);
}

/* LIGHT THEME */

/* .modalPageBox {
  display: flex;
  flex-direction: column;
  background-color: var(--color-light-background);
  color: var(--primary-color-black);
  padding: 24px;
  position: relative;
  border-radius: 8px;
  width: 335px;
  border: 1px solid rgba(190, 219, 176, 0.5);
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.05);
} */

/* .close {
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
  font-size: 18px;
  color: var(--primary-color-black);
}

.editProfileTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: var(--primary-color-black);
} */

/* VIOLET THEME */
/* .modalPageBox {
  display: flex;
  flex-direction: column;
  background-color: var(--color-light-background);
  color: var(--primary-color-black);
  padding: 24px;
  position: relative;
  border-radius: 8px;
  width: 335px;
  /* border: 1px solid rgba(190, 219, 176, 0.5);
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.05);
} */

/* .close {
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
  font-size: 18px;
  color: var(--primary-color-black);
}

.editProfileTitle {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: var(--primary-color-black);
} */
@media only screen and (min-width: 320px) {
  .modalPageBox {
    padding: 24px;
  }
}

@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 768px) {
  .modalPageBox {
    width: 400px;
  }
}

@media only screen and (min-width: 1440px) {
}

.errorText {
  color: red;
}
