.headerMainContainer {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  height: 60px;

  padding: 14px 20px;

  background-color: var(--header-background);
}

@media only screen and (min-width: 768px) {
  .headerMainContainer {
    height: 68px;
    padding: 18px 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .headerMainContainer {
    padding: 18px 24px;
  }
}

.headerContainer {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* max-width: 375px; */
}

/* @media only screen and (min-width: 768px) {
  .headerContainer {
    max-width: 768px;
  }
} */

/* @media only screen and (min-width: 1440px) {
  .headerContainer {
    max-width: 1440px;
  }
} */

.customBox {
  display: flex;
  flex-direction: row;
  gap: 18px;
  cursor: pointer;
}

.user {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.userName {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--header-primary);

  transition:
    color 0.25s ease-in-out,
    stroke 0.25s ease-in-out;
}

.userName:hover,
.userName:focus {
  color: var(--main-hover);
  stroke: var(--main-hover);
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  cursor: pointer;
}
