.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 14px 20px;
}

.burgerButton {
  width: 24px;
  height: 24px;
}

.burgerIcon {
  display: inline-block;
}

.customBox {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.themeBox {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.label {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.8);
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.user {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.userName {
  color: var(--primary-color-white);
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  background-color: blue;
}
