.background {
  height: 100%;
  width: 100%;
  background-color: var(--main-background);
  background-image: var(--bg-mobile-1x);
  background-size: cover;
  background-position: center;
  /* background-clip: padding-box;
  background-origin: padding-box; */
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .background {
    background-image: var(--bg-mobile-2x);
  }
}

@media only screen and (min-width: 768px) {
  .background {
    background-image: var(--bg-tablet-1x);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .background {
      background-image: var(--bg-tablet-2x);
    }
  }
}

@media only screen and (min-width: 1440px) {
  .background {
    background-image: var(--bg-desktop-1x);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .background {
      background-image: var(--bg-desktop-2x);
    }
  }
}

.screenMainContainer {
  padding: 14px 20px;
}

@media only screen and (min-width: 768px) {
  .screenMainContainer {
    padding: 26px 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .screenMainContainer {
    padding: 10px 24px;
  }
}
