/* DARK THEME */
input {
  box-sizing: border-box;
  background-color: inherit;
  border-width: 0;
  width: 100%;
  font-size: 14px;
  font-family: 'Poppins';
  font-weight: 400;
  letter-spacing: -0.02em;
  color: var(--primary-color-white);
  cursor: pointer;
}

/* Light THEME */
/* input {
  box-sizing: border-box;
  background-color: inherit;
  border-width: 0;
  width: 100%;
  font-size: 14px;
  font-family: 'Poppins';
  font-weight: 400;
  letter-spacing: -0.02em;
  color: var(--primary-color-black);
  cursor: pointer;
} */

/* VIOLET THEME */
/* input {
  box-sizing: border-box;
  background-color: inherit;
  border-width: 0;
  width: 100%;
  font-size: 14px;
  font-family: 'Poppins';
  font-weight: 400;
  letter-spacing: -0.02em;
  color: var(--primary-color-black);
  cursor: pointer;
} */

.container {
  display: flex;
  flex-direction: row;
  padding-right: 15px;
  align-items: center;
}

input:focus-visible {
  outline: none;
}

.icon {
  cursor: pointer;
  stroke: var(--primary-color-black);
}
