.container {
  position: absolute;
  z-index: 100;
  top: 60px;
  width: 225px;
  padding: 14px;
  background-color: var(--primary-color-white);
  height: 100%;
}

.sidebar {
  background-color: var(--primary-color-white);
}

@media only screen and (min-width: 768px) {
  .container {
    top: 68px;
    width: 260px;
    padding: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    display: block;
    visibility: 100%;
  }
}

.myBoardsTitle {
  color: #16161680;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 8px;
}
