.container {
  position: absolute;
  z-index: 100;
  top: 0px;
  width: 225px;
  padding: 14px;
  background-color: var(--sidebar-background);
  height: 100vh;
}

.sidebar {
  background-color: var(--sidebar-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .container {
    position: absolute;
    width: 260px;
    padding: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.myBoardsTitle {
  color: var(--secondary-sidebar-text-color);
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 8px;
}
