.modal {
  width: 100vw;
  height: 100vh;
  background-color: #1515154d;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: 0.5s;
}

.modalActive {
  opacity: 1;
  pointer-events: all;
  transform: scale(1);
}

.modalContent {
  padding: 24px;
  border-radius: 12px;
  background-color: white;
  transform: scale(0.5);
  transition: 0.4s all;
  width: 335px;
}

.modalContentActive {
  transform: scale(1);
}
