.button {
  display: flex;
  width: 100%;
  height: 56px;
  justify-content: center;
  align-items: center;
  margin-top: 39px;
  background-color: var(--primary-color-white);
  border-radius: 8px;
}

.icon {
  background-color: var(--primary-color-black);
}

.title {
  color: var(--primary-color-black);
}
