.boardContainer {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  gap: 5px;
  box-sizing: border-box;
  min-height: 61px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: #16161680;
}

.boardContainer:active,
.boardContainer:hover {
  width: 100%;
  color: black;
  background-color: var(--color-light-background);
  border-right: 4px solid var(--primary-color-light-green);
}

.item {
  display: flex;
  width: 335px;
  height: 56px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: var(--primary-color-white);
  color: var(--primary-color-black);
}

.box1 {
  display: flex;
  gap: 2px;
}

.box1:active,
.box1:hover {
  fill: black;
}

.box2 {
  justify-content: space-between;
}

.icon {
  background-color: white;
  fill: #16161680;
  stroke: 1.3 solid #16161680;
}
.icon:hover {
  transform: scale(1.3);
}

button {
  border: none;
  background-color: transparent;
}
