.addColumnBtn {
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    max-width: 335px;
    width: calc(100vw - 20px * 2);
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex: 0 0 100%;
}

.plus {
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.plusIcon {
    width: 14px;
    height: 14px;
}