.btn_logout {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 14px;
  font-family: 'Poppins', sans-serif;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;

  color: var(--primary-sidebar-text-color);
}
