@import url('./assets/styles/root.css');

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Regular.eot');
  src:
      url('/assets/fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Poppins-Regular.woff') format('woff'),
      url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.eot');
  src:
      url('/assets/fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Poppins-Medium.woff') format('woff'),
      url('/assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-SemiBold.eot');
  src:
      url('/assets/fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Poppins-SemiBold.woff') format('woff'),
      url('/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-display: swap;
}


.container {
  min-width: 320px;
  max-width: 375px;

  margin-left: auto;
  margin-right: auto;

  padding-left: 20px;
  padding-right: 20px;

  @media only screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media only screen and (min-width: 1440px) {
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

body {
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  width: 100%;
  height: 100vh;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  padding: 0;
}
