.background {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100vh;

  background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 25%,
    #bedbb0 92.19%
  );
}

.mainBox {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color-black);
  padding: 24px;
  border-radius: 8px;
}

@media only screen and (min-width: 768px) {
  .mainBox {
    padding: 40px;
  }
}

.authMenu {
  display: flex;
  flex-direction: row;
  gap: 14px;
  margin-bottom: 40px;
}

.authMenuButton {
  border: none;
  background-color: inherit;
  color: var(--primary-color-white);
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 500;
  letter-spacing: -0.02em;
  opacity: 0.3;
}

.selectedAuthMenuButton {
  opacity: 1;
}

.authControl {
  width: 287px;
  height: 49px;
  border-radius: 8px;
  border: 1px solid;
}

@media only screen and (min-width: 768px) {
  .authControl {
    width: 344px;
  }
}

.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.authInput {
  box-sizing: border-box;
  background-color: inherit;
  color: var(--primary-color-white);
  opacity: 40%;
  border-color: var(--primary-color-light-green);
  box-shadow: 0px 4px 16px rgba(22, 22, 22, 0.08);
  padding-left: 18px;
  font-size: 14px;
  font-family: 'Poppins';
  font-weight: 400;
  letter-spacing: -0.02em;
  cursor: pointer;
}

.authButton {
  background-color: var(--primary-color-light-green);
  color: var(--primary-color-black);
  font-size: 14px;
  font-family: 'Poppins';
  font-weight: 500;
  letter-spacing: -0.02em;
  margin-top: 10px;
}
